/* Add CSS styles for the App component here */
#root {
  width: 100%;
}


.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  flex: 1;
}

h1 {
  margin-right: 1rem;

}

.function {
  display: inline;
}

.function button {
  margin-right: 0.5rem;
}