/* backgroud*/

body {
    font-family: Arial, sans-serif;
    background-color: #f7e5d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    font-size: 16px;
    color: #4d3b27;
}


/*nav Bar*/
header {
    padding: auto;
    /*to make sure nav bar display in one row*/
    width: 100%;

}


.horizontal-menu {
    background-color: #3338;
    color: white;
    position: fixed;
    display: flex;
    padding: 1rem;
    width: 100%;
    align-items: center;

}

.horizontal-menu img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}




/* design for drop down button */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* hide drop downmenu */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
  }
  
  /* show dropdown menu after click */
  .dropdown-content.active {
    display: block;
  }

  .dropdown-content li {
    
    padding: 1rem;
    margin: 0%;
    display: block;
    border-bottom: 1px solid black;
  }

  .dropdown-content a{
    color: black;
    text-decoration: none;
  }
  

.dropdown-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*main*/
main {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}


/* home page*/
.ui-card {
    background-color: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border-radius: 5px;
}

.ui-card img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* 2 column ui-card in web */
@media screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

footer {
    background-color: #3338;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
}